* {padding: 0; margin: 0;}

body{
   position: static;
   width: auto;
   margin: auto;
   min-width: 1008px;;
   background-color:#778899
}


#complet{
 margin: 0 auto;
 width:90%;
 height:auto;
}

#header{
 margin: 5px 0px 0px 0px;
 color: #FFFFCC;
 text-align:right;
 height:170px; 
 content: url("film_Furious_71.jpg");
 width:100%;

}

#searchGen{


}

#nav{
background-color:black;
width:auto;
height:100%;
float:center;
padding:10px;
text-align:center;
}


#continut{
 
 width:100%;
 height:450px;
 background-color:#4682B4;
}

#log1{
	
	 text-align: justify;
	 background-color: none;
}

#actori{
	 width:25%;
	 height:100%;
	 float:left;
}

#filme{
	 /*background-color:#006666;*/
	 width:25%;
	 height:100%;
	 float:left;
}

#genuri{
	 width:25%;
	 height:100%;
	 float:left;
}

#distributie{
	/*background-color:#006666;*/
	 width:25%;
	 height:100%;
	 float:left;
}

#footer{
 background-color:black;
 color:white;
 clear:both;
 text-align:center;
 padding:5px;
}



table {
    border-collapse: collapse;
}

table, td, tr {
    border: 1px solid black;
}

table, th, tr {
    border:white;
     margin:auto;
    
}


p {
    border:1px solid gray;
}
ul {
    padding: 0px;
    margin: 10px 0;
    list-style: none;
    float: center;
}
 
ul li {
    float: center;
    display: inline; /*For ignore double margin in IE6*/
    margin: 0 10px;
}
 
ul li a {
    text-decoration: none;
    float:center;
    color: #999;
    cursor: pointer;
    font: 900 14px/22px "Arial", Helvetica, sans-serif;
	text-align:center;
}
 
ul li a span {
    margin: 0 0px 0 -30px;
    padding: 1px 0px 0px 0px;
    position: relative; /*To fix IE6 problem (not displaying)*/
    float:center;
}

ul.blue li a.current, ul.blue li a:hover {
    background: url(images/blue.png) no-repeat top right;
    color: #0d5f83;
}
 
ul.blue li a.current span, ul.blue li a:hover span {
    background: url(images/blue.png) no-repeat top center;
}



a:link{
text-decoration:none;}
a:hover {text-decoration: none;}